@import "../../styles/colors";

.result-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s;
    margin: 1rem 0;

    .amount-summary {
        margin: .5rem 0;
        color: get-color-weight($primary, 400);
        font-size: 4.5rem;
        animation: bounce;
        animation-duration: 1s;
    }

    .bottom-summary {
        display: block;
        color: get-color-weight($primary, 500);
        margin: .5rem 0;
        font-size: 1rem;
    }

    .details-button {
        font-size: 1rem;
        color: transparentize($white, .3);
    }
}
