@import "../../styles/colors";

.query-manager-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    transition: flex-basis 1s 0s ease-out;
}

.notification {
    background-color: transparentize(get-color-weight($primary, 500), .5);

    div[class$="-message"] {
        font-size: .95rem;
        color: $white;
    }
}

.buttons-wrapper {
    padding: .5rem 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .apply-button {
        flex-basis: 65%;
        color: $white;
        background-color: get-color-weight($primary, 600);

        &:hover {
            background-color: get-color-weight($primary, 500);
        }
    }

    .reset-button {
        flex-basis: 25%;
        color: $white;
        border-color: get-color-weight($danger, 200);
        background-color: get-color-weight($danger, 300);

        &:hover {
            border-color: get-color-weight($danger, 300);
            background-color: get-color-weight($danger, 400);
        }
    }
}
